.container {
    display: grid;
}
article {
    padding: 3vw;
}
.grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 1rem;
    }

 @media only screen and (max-width:900px){
   header {
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 1rem;
    }
    }
 @media only screen and (min-width:901px){
        /* styles for browsers larger than 901px; */
        .container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
    }
    header {
        position: fixed;
        width: 25vw;
        height: 100vh;
    }
    article {
    grid-column-start: 2;
}
    }
